/*            ___     ___                           /// */
/*           /   \,,,/   \                            */
/*    ,-----(      . .    )   _______          ___
/*   /        \__      __/   ( Guiome )       / ❜_❮～        */
/*  /⎪           (\   ⎪(     ⎪/------     __/ /                 */
/* ^  \    ____   /\  ⎪              \\ (_____ )_          */
/* ////⎪___⎪//⎪___⎪/''////////////////\(_______ __)/////// */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
	font-family: "Montserrat", sans-serif;
	background-color: white;
}

:root{ 
  --size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
  --size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
  --size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
  --size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
  --size-xl: clamp(1.73rem, 0.92vw + 1.5rem, 2.07rem);
  --size-xxl: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
  --size-xxxl: clamp(2.49rem, 1.33vw + 2.16rem, 2.99rem);
}
.sm{ font-size: var(--size-sm);}
.base{ font-size: var(--size-base);}
.md{ font-size: var(--size-md);}
.lg{ font-size: var(--size-lg);}
.xl{ font-size: var(--size-xl);}
.xxl{ font-size: var(--size-xxl);}
.xxxl{ font-size: var(--size-xxxl);}

p { line-height: 1,4;b }

/* Interlettrage */

p { letter-spacing: 0.02em;}
h1 { letter-spacing: -0.01em;}

/* couleur */

:root {
	--jazz-bleu: rgb(33, 67, 145);
	--jazz-orange: rgb(235, 88, 71);
}
body { color: var(--jazz-orange);
}
/* Mise en page */
img {max-width: 100%; }

#Affiche { height: 300px;}


.couleurs{
  display: flex;
}
.orange{
  background-color:var(--jazz-orange);
	width: 7rem;
	aspect-ratio: 1;
	color: white;
  margin-left: 10px;
}

.bleu{
  background-color:var(--jazz-bleu);
	width: 7rem;
	aspect-ratio: 1;
	color: white;
}



